{% extends 'list_hours.html' %}
{% block title %} All employees hours{% endblock %}
{% block content %}

    {{ employee }}

    <table>
        <tr>
        <th>Person</th>
        <th> Date </th>
        <th> Sales channel </th>
        <th> Hours </th>
            <th> ---</th>
        </tr>
            {% for employee, hours in employee_entries %}

        {% for entry in hours %}

        <tr>
        <td>{{ employee }}</td>
       <td> {{ entry.date }} </td>
       <td> {{ entry.sales_channel }} </td>
       <td> {{ entry.hour }}

        </tr>
    {% endfor %}
{% endfor %}

        </table>

{% endblock %}

{% block footer %} {% endblock %}