{% extends 'list_hours.html' %}
{% block title %} All employees hours{% endblock %}
{% block content %}

{% if perms.timetracking_app.view_hours_per_channel %}
    <table>
        <tr>
        <th>Person</th>
        <th> Date </th>
        <th> Sales channel </th>
        <th> Hours </th>
            <th> ---</th>
        </tr>
        {% for entry in employee_entries %}


        <tr>
       <td>{{ entry.employee.username }}</td>
       <td> {{ entry.date }} </td>
       <td> {{ entry.sales_channel }} </td>
       <td> {{ entry.hour }}</td>
        <td>
           <a href="{% url 'edit-hours' pk=entry.id %}"> <button type="submit" value="edit_hours">Edit</button> </a>
           <a href="{% url 'delete-hours' pk=entry.id %}"> <button type="submit" value="delete_hours">Delete</button> </a></td>

        </tr>
{% endfor %}

        </table>

   <table border="1">
      {% for employee, hours in hours_per_employee.items %}
          <tr>
          <th> Employee </th>
              <th> Hours </th>
          </tr>
          <tr>
              <td> {{ employee.username }}</td><td> {{ hours }}</td>
          </tr>
      {% endfor %}
</table>
    {% else %} You don't have permissions to view this site.
    {% endif %}

{% endblock %}

{% block footer %} {% endblock %}