{% load static %}



<!doctype html>
<html>
   {% block head %}
      <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} Home {% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

        <!-- Core theme CSS (includes Bootstrap)-->
     <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    </head>
    {% endblock %}

{% block body %}
    <body>
         <div class="d-flex" id="wrapper">

            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                {% if user.is_authenticated %}

                <div class="sidebar-heading border-bottom bg-light">Timetracker</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'add-hours' %}">Log hours</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'list-all-hours' %}">View hours</a>
                     {%  if perms.timetracking_app.view_hours_per_channel %}
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'hours-per-channel' %}">Hours per channel</a>
                     {% endif %}
                    {%  if perms.timetracking_app.view_hours_per_department %}
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'department-hours' %}">Hours per department</a>
                     {% endif %}
                    {%  if perms.timetracking_app.view_hours_per_employee %}
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'employees-hours' %}">All employees' hours</a>
                     {% endif %}
                    {% if perms.timetracking_app.add_person %}
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'add-employee' %}">Add employee</a>
                        {% endif %}
                </div>
                {% endif %}
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        {% if user.is_authenticated %}
{#                        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>#}
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link" href="{% url 'home-page' %}">Hello {{ user.first_name }}!</a></li>
                                <li class="nav-item dropdown">
                                <li class="nav-item active"><a class="nav-link" href="{% url 'home-page' %}">Home</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'add-hours' %}">Log hours </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'list-employees' %}">List employees </a>
                                        <div class="dropdown-divider"></div>
                                        {% if user.is_superuser %}
                                        <a class="dropdown-item" href="{% url 'admin:index' %}">Administration panel </a>
                                        <div class="dropdown-divider"></div>
                                        {% endif %}
                                        <a class="dropdown-item" href="{% url 'change-password' %}">Change password </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'logout-page' %}">Logout</a>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% endif %}

                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">
                        {% if user.is_authenticated %}
                        {% endif %}
                    </h1>
                    {% if user.is_authenticated %}
                    <p> </p>
                    {% endif %}
                {% endblock %}

                    <p>
                        <code>{% block content %} {% endblock %}</code>
                        <code>{% block footer %} {% endblock %}</code>
                    </p>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

    </body>
</html>