{% extends 'base.html' %}
{% block title %} Department hours {% endblock %}
{% block content %}

 <table border="1">
        <tr>
            <th>Department</th>
            <th>Sales channel</th>
            <th>Hours</th>
        </tr>
        {% for department, sales_channels in hours_per_department.items %}
            {% for sales_channel, hours in sales_channels.items %}
                <tr>
                    {% if forloop.first %}
                        <td rowspan="{{ sales_channels|length }}">{{ department }}</td>
                    {% endif %}
                    <td>{{ sales_channel }}</td>
                    <td>{{ hours }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    --------------------------
<p>
    <a href="{% url 'department-hours' %}"> <button type="submit" value="all_hours">All hours</button> </a>
    <a href="{% url 'department-hours' %}?filter_type=weekly"> <button type="submit" name='weekly' value="current_week">Current week</button></a>
    <a href="{% url 'department-hours' %}?filter_type=monthly"><button type="submit" name='monthly' value="current_month">Current month</button></a>
    <a href="{% url 'department-hours' %}?filter_type=yearly"><button type="submit" name='yearly' value="current_year">Current year</button></a>
</p>

    --------------------------
<div>
    <canvas id="myChartDepartments"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChartDepartments');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ labels|safe }},
      datasets: [{
        label: '# hours per department',
        data: {{ data|safe }},
        borderWidth: 1
      }]
    },
    options: {
      responsive: false,
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true
        }
      },
      width: 500,
      height: 400
    }
  });
</script>


{% endblock %}
{% block footer %} {% endblock %}