{% extends 'base.html' %}
{% block title %} Your hours {% endblock %}
{#{% block head %}{% endblock %}#}

{% block content %}
   View your own hours: <br>

        <table>
        <tr>
        <th> Date </th>
        <th> Sales channel </th>
        <th> Hours </th>
        </tr>

    {% for entry in employee_entries %}

        <tr>
       <td> {{ entry.date }} </td>
        <td>{{ entry.sales_channel }} </td>
       <td> {{ entry.hour }}
           <a href="{% url 'delete-hours' pk=entry.id %}"> <button type="submit" value="all_hours">Delete</button> </a></td>

        </tr>
    {% endfor %}

        </table>

----------------------------------
<table>
      {% for sales_channel, hours in hours_per_channel.items %}
          <tr>
          <th> Sales channel </th>
         <td>{{ sales_channel }}: {{ hours }}</td>
          </tr>
      {% endfor %}
</table>


{% endblock %}

{% block footer %}{% endblock %}
