{% extends 'list_hours.html' %}
{% block title %} All employees hours{% endblock %}
{% block content %}



<ol>
{% for employee in employee_entries %}
    {% if employee.is_active %}
<li> {{ employee.username }}
    {% if perms.timetracking_app.change_person %}
    <a href="{% url 'edit-employee' pk=employee.id %}"> <button type="submit" value="update_person">Edit</button> </a></td>
        {% endif %}
    {% if perms.timetracking_app.delete_person %}
    <a href="{% url 'deactivate-employee' pk=employee.id %}"> <button type="submit" value="delete_person">Deactivate</button> </a></td>
        {% endif %}

</li>
    {% endif %}
{% endfor %}
</ol>



{% endblock %}

{% block footer %} {% endblock %}