{% extends 'base.html' %}
{% block title %} Your hours {% endblock %}
{#{% block head %}{% endblock %}#}

{% block content %}
       <strong> All hours: </strong>
 <br>

        <table>
        <tr>
        <th> Date </th>
        <th> Sales channel </th>
        <th> Hours </th>
        </tr>

    {% for entry in employee_entries %}

        <tr>
       <td> {{ entry.date }} </td>
        <td>{{ entry.sales_channel }} </td>
       <td> {{ entry.hour }}
           <a href="{% url 'edit-hours' pk=entry.id %}"> <button type="submit" value="edit_hours">Edit</button> </a>
           <a href="{% url 'delete-hours' pk=entry.id %}"> <button type="submit" value="delete_hours">Delete</button> </a></td>


        </tr>
    {% endfor %}

        </table>
    <br>

     <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

 <br>


----------------------------------<br>
    <strong> Hours per sales channel: </strong>
    <br>
    <br>

    <table>
      {% for sales_channel, hours in hours_per_channel.items %}
          <tr>
          <th> Sales channel </th>
         <td>{{ sales_channel }}: {{ hours }}</td>
          </tr>
      {% endfor %}
</table>




{% endblock %}

{% block footer %}{% endblock %}
